@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Musa Arda</h1>
  <p>
    Learn about
    <a href="https://docs.microsoft.com/aspnet/core">Razor Pages 444</a>.
  </p>
</div>
